.first{
    background-color: red;
    height: 80px;
    width: 100px;
    position: relative;
}

.second{
    background-color: green;
    height: 60px;
    width: 80px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.third{
    background-color: blue;
    height: 40px;
    width: 60px;
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
    color: white;
}
